@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.blog-preview{
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-radius: 0.5rem;
}
